AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_ENDPOINT2=
AZURE_OPENAI_API_KEY2=
AZURE_OPENAI_VERSION=
OPENAI_MODEL_NAME2=
DOCUMENT_EMBEDDINGS_DIR=
LABEL_EMBEDDINGS_DIR=
OPENAI_MODEL_NAME=
MYSQL_HOST=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_PORT=

POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=

PARTITION_FILES_DIR=
ORIGINAL_PARTITION_FILENAME=
MODIFIED_PARTITION_FILENAME=
FINAL_PARTITION_FILENAME=

IMAGE_SAVE_DIR=

BUSINESS_DOCUMENT_FIELD_EMBEDDINGS_DIR=
TABLE_COLUMN_EMBEDDINGS_DIR=

BUSINESS_DOCUMENT_FILENAME=

